@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Outfit";
    font-weight: 700;
}


.navbar {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    font-size: 2.5vmin;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.brand a {
    font-size: 1.75rem;
    font-weight: bold;
    text-decoration: none;
    color: #fff;
}
.subbrand{
    color:  #f11313;
    font-size: 1.5rem;
}
.subtopic{
    color:  #f11313;
}

.nav-links {
    display: flex;
    list-style: none;
  
}
.account .login-btn i {
    margin-right: 0; /* Remove the right margin */
    font-size: 24px; /* Increase the font size */
}
.nav-links li {
    position: relative; 
    margin-right: 20px;
    margin-left: 20px;
}

.nav-links li a {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s ease;
}

.nav-links li a:hover {
    color:red;
}

.mobile-menu {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.mobile-menu span {
    height: 3px;
    width: 25px;
    background-color: #fff;
    margin: 3px 0;
    transition: all 0.3s ease;
}
.login-btn {
    display: inline-block;
    background-color: #f11313;
    color: #fff;
    text-decoration: none;
    font-size: 1.15rem;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    right: 0; /* Align the dropdown to the right side */
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropbtn {
    background-color: transparent;
    color: #f1f1f1;
    font-size: 20px;
    border: none;
    cursor: pointer;
}

@media (max-width: 768px) {
    .nav-links {
        display: none;
        position: absolute;
        top: 70px;
        left: 0;
        width: 100%;
        background-color: #333;
        padding: 0; 
        border-bottom: 1px solid #fff;
        overflow: hidden; 
        max-height: 0;
        transition: max-height 0.3s ease; 
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
        z-index: 999;
    }
    .login-btn{
        padding: 5;
        font-size: 2.5vmin;
    }
    .login-btn i{
        font-size: 5px;
    }

    .nav-links.show {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-height: 1000px; 
    }

    .nav-links li {
        margin: 10px 0; 
    }

    .mobile-menu {
        display: flex;
    }

    .mobile-menu.active span:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px);
    }

    .mobile-menu.active span:nth-child(2) {
        opacity: 0;
    }

    .mobile-menu.active span:nth-child(3) {
        transform: rotate(-45deg) translate(5px, -5px);
    }
}

.header {
    background-color: rgba(242, 242, 242, 0.8); /* Add opacity to the background color */
    background-image: url(../Images/homepageback.jpg);
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 100px 0;
    height: 100vh;
}

.header-content {
    max-width: 800px;
    margin: 0 auto;
}

.header h1 {
    font-size: 5.5rem;
    margin-bottom: 20px;
    text-align: center;
    margin-top: 80px;
    color: #f2f2f2;
}

.header p {
    font-size: 1.75rem;
    color: #777;
}

.btn {
    display: inline-block;
    background-color: #f11313;
    color: #fff;
    text-decoration: none;
    font-size: 1.75rem;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    margin-top: 20px;
}

.btn:hover {
    background-color:chocolate;
}

@media (max-width: 768px) {
    .header-content {
        padding: 50px 20px;
    }

    .header h1 {
        font-size: 2.5rem;
    }

    .header p {
        font-size: 1rem;
    }
}

.vehicle-list-container {
    position: relative; /* Ensure relative positioning for the container */
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
}

.vehicle-card {
    width: 300px; 
    padding: 20px;
    margin: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.vehicle-card img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;
}

.vehicle-card h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.vehicle-card p {
    font-size: 1.25rem;
    margin-bottom: 10px;
}

.rent-btn {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
    margin-top: 10px;
}

.rent-btn:hover {
    background-color: #555;
}


.view-all-btn {
    position: absolute; /* Position absolutely within the container */
    top: 10px; /* Adjust as needed */
    right: 10px; /* Adjust as needed */
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.view-all-btn:hover {
    background-color: #555;
}
.vehicle-list-heading {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 20px;
    margin-Top: 20px;
    text-align: center;
    font-family: 'outfit';
    font-weight: 700;
}
.search-container {
    margin: 20px 40px;
}

#searchInput {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

#searchInput:focus {
    outline: none;
    border-color: #f11313;
}
.about-us {
    background-color: #f9f9f9;
    padding: 50px 20px;
    text-align: center;
   
}

.about-us .heading {
    color: #333;
    font-size: 36px;
    margin-bottom: 20px;
}

.about-us .content {
    max-width: 800px;
    margin: 0 auto;
}

.about-us p {
    font-size: 18px;
    line-height: 1.6;
    color: #666;
    margin-bottom: 30px;
}

.about-us button {
    background-color: #4CAF50;
    color: white;
    padding: 12px 24px;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.about-us button:hover {
    background-color: #45a049;
}

.footer {
    background-color: #333;
    color: #fff;
    padding: 50px 0;
    text-align: left;
    
}

.footer-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-left: 50px;
}

.footer-section {
    flex: 1;
    margin-right: 20px;
    margin-left: 50px;
}

.footer-section h2 {
    font-size: 20px;
    margin-bottom: 15px;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 10px;
}

.footer-section ul li a {
    color: #ccc;
    text-decoration: none;
}

.footer-section ul li a:hover {
    color: red;
}

.footer-bottom {
    background-color: #222;
    color: #ccc;
    padding: 10px 0;
    text-align: center;
}

